@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #27272a;
  --color-foreground: #f2f2f2;
  --color-card: #18181b;
  --color-card-foreground: #f2f2f2;
  --color-popover: #09090b;
  --color-popover-foreground: #f2f2f2;
  --color-primary: #f6b17a;
  --color-primary-foreground: #fffbf8;
  --color-secondary: #3f3f46;
  --color-secondary-foreground: #f2f2f2;
  --color-muted: #52525b;
  --color-muted-foreground: #a3a3a3;
  --color-accent: #2e4c26;
  --color-accent-foreground: #f2f2f2;
  --color-destructive: #9c4c26;
  --color-destructive-foreground: #f5d8f8;
  --color-border: #3f3f46;
  --color-input: #3f3f46;
  --color-ring: #f6b17a;
}

@utility prose-markdown {
  --tw-prose-body: #f2f2f2;
  --tw-prose-headings: #f2f2f2;
  --tw-prose-lead: #f2f2f2;
  --tw-prose-links: #f2f2f2;
  --tw-prose-bold: #f2f2f2;
  --tw-prose-counters: #f2f2f2;
  --tw-prose-bullets: #f2f2f2;
  --tw-prose-hr: #a3a3a3;
  --tw-prose-quotes: #a3a3a3;
  --tw-prose-quote-borders: #a3a3a3;
  --tw-prose-captions: #a3a3a3;
  --tw-prose-code: #a3a3a3;
  --tw-prose-pre-code: #a3a3a3;
  --tw-prose-pre-bg: #a3a3a3;
  --tw-prose-th-borders: #3f3f46;
  --tw-prose-td-borders: #3f3f46;
}