---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="JamesConlon.dev">
  <h1><span class="route-accent">/</span>about</h1>
  <p>
    Hi, I'm James. I used to write hacky code for switchgears, motors and robot
    arms. Now I write hacky code for websites. Admittedly, less to go wrong!
  </p>
  <p>
    I've been working in web development for a little over a year now. Most of
    what I do executes right here in your browser: running on a dream, eight
    lines of CSS and half of your RAM.
  </p>
  <p>
    I also have a strong interest in back-end, creating reliable APIs and system
    design. This is relatively new but I'm bad at CSS and, honestly, this seems
    like the bigger challenge.
  </p>
  <h2>Technologies that interest me</h2>

  <strong>Typescript</strong>
  <p>Typescript, everywhere, all the time.</p>

  <strong>React</strong>
  <p>
    I don't hate it like I should. Most of the blog will be dedicated to
    exploring some of the more niche features of React and especially
    application design and thinking-in-react. I'm convinced some of you are
    making things harder than they need to be.
  </p>

  <strong>Astro</strong>
  <p>
    Astro is cool - No notes! This entire website is built on Astro and, unless
    I add a clock widget or something, the whole thing should ship to your
    browser as pure html.
  </p>

  <strong>shadcn</strong>
  <p>
    This is a component library designed to work flawlessly with React, Next JS
    and tailwind. If I use it correctly, I may never have to write a single line
    of CSS ever again.
  </p>

  <strong>Ruby on Rails</strong>
  <p>
    I needed a framework that would allow me to write in ruby. And I found it!
    But, in all seriousness, RoR is the don! You need to at least understand the
    concepts. Once you master that you can use Django.
  </p>

  <strong>Deno/Fresh</strong>
  <p>
    I would seriously love this platform to take off so I can start using it
    unironically. Everyone's just afraid of it because it's too new and good.
  </p>
</BaseLayout>
