---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
const allPosts = await getCollection("posts");
---

<BaseLayout title="JamesConlon.dev">
  <h1>/<span class="route-accent">about</span></h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet
    lorem vel ipsum cursus tincidunt nec dignissim leo. Cras sagittis ligula
    vitae consectetur consequat. Donec egestas auctor justo at hendrerit. Fusce
    luctus velit ut quam dapibus viverra. Pellentesque vel metus molestie,
    sodales enim vitae, elementum est. Ut nulla augue, faucibus in feugiat eget,
    rutrum quis ipsum. In eros nisl, blandit et sodales efficitur, sollicitudin
    vitae ante. Praesent venenatis suscipit ultrices. Donec id rhoncus lacus.
    Nullam non orci tempor nisi accumsan euismod nec nec nibh. Nunc maximus
    augue sit amet gravida cursus. Morbi nec augue accumsan, rutrum lorem sed,
    varius velit. Phasellus rutrum eu nibh non dignissim. Nullam convallis ipsum
    nec facilisis euismod. Vestibulum a imperdiet tellus, non rutrum tellus.
    Vivamus volutpat mi nec viverra lobortis. Nunc eget nibh eget leo dapibus
    laoreet. Etiam egestas malesuada ligula, ac venenatis risus pretium ac.
    Pellentesque maximus hendrerit neque vel scelerisque. Pellentesque dictum
    sapien in ligula pellentesque, in mattis est rutrum. Quisque at tellus
    maximus, dapibus eros scelerisque, euismod lectus. Praesent scelerisque
    porttitor justo eget suscipit. Aenean pellentesque eleifend rhoncus. Nulla
    at eros nec lorem aliquam tincidunt. Aliquam nec commodo purus. Sed
    porttitor, tellus sed aliquam rutrum, sapien turpis aliquam neque, at
    interdum velit risus eu felis. Morbi mollis urna non tempor aliquam. Nunc
    bibendum, mauris eget cursus pharetra, enim mauris maximus turpis, quis
    porttitor diam orci in nisl. Nunc ut lacinia sapien. Morbi hendrerit tempus
    dapibus. Vivamus volutpat egestas lectus, pharetra feugiat erat consequat
    in. Nunc facilisis, purus pellentesque sollicitudin posuere, quam massa
    scelerisque dolor, sed malesuada mauris quam vel libero. Ut quis congue
    risus, auctor pellentesque leo. Vestibulum scelerisque nisi maximus,
    malesuada ligula quis, ornare mi. Nullam in imperdiet dolor, ac condimentum
    mauris. Nunc ex velit, dictum vel venenatis vel, luctus et sem. Donec eget
    neque odio. Integer maximus non tellus vitae placerat. Pellentesque pulvinar
    neque est, in varius tortor hendrerit ut. Donec placerat tortor a lobortis
    finibus. Curabitur in consequat dui, sed vehicula justo. Ut luctus lectus ut
    lectus volutpat, ac faucibus dolor tempus. Cras sed turpis pellentesque,
    ullamcorper ex ac, laoreet massa. Donec sit amet sem lorem. Sed lorem mi,
    eleifend eu tortor porta, venenatis feugiat quam. Nunc facilisis convallis
    dapibus. Donec a ultrices dui, vel scelerisque quam. Integer commodo purus
    diam, eget faucibus nunc facilisis ac.
  </p>
</BaseLayout>
