---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const recentPosts = allPosts.slice(0,4);
---

<BaseLayout title="James Conlon">
  <h1><span class="route-accent">/</span></h1>
  Hi, I'm James. I'm an Irish web developer based in Barcelona. Check out some of
  my projects!

  <h2>Projects</h2>

  </div>

  <ul role="list" class="link-card-grid">
    <Card href="https://github.com/conlonj25/jim-dot-dev" , title="jamesconlon.dev" body="This very website. In code form!" />
    <Card
      href="https://github.com/conlonj25/business-model-canvas"
      ,
      title="Business Model Canvas"
      body="Plan your next killer startup with this nifty app"
    />
    <Card
      href="https://github.com/conlonj25/bookshelf"
      ,
      title="Bookshelf"
      body="Mock-up web application. Online book retailer."
    />
    <Card
      href="https://github.com/conlonj25/minecraft_Clone"
      ,
      title="Minecraft Clone"
      body=`Some might call it "ground breaking"`
    />
    <Card
      href="https://github.com/conlonj25/pynq-crowd-counting"
      ,
      title="PYNQ Crowd Counting"
      body="Computer vision project for real-time crowd counting on edge hardware"
    />
    <Card
      href="https://github.com/conlonj25/weather"
      ,
      title="Weather App"
      body="Simple weather app built on top of OpenWeather API"
    />
  </ul>

  <h2>Most Recent Blog Posts</h2>
  <ul role="list" class="link-card-grid">
    {
      recentPosts.map((post) => (
      <Card href={`/blog/${post.slug}/`}, title={post.data.title} body={post.data.description} />
      ))
    }
  </ul>
</BaseLayout>