---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  date: Date;
  spoiler: string;
  href: string;
  pinned: boolean;
}

const { title, date, spoiler, href, pinned } = Astro.props;
---

<div
  class="text-foreground transition duration-300 ease-in-out hover:scale-[1.01] motion-reduce:transition-none motion-reduce:hover:scale-100"
>
  <a
    class="block focus-visible:rounded-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring"
    href={href}
  >
    <article>
      <span class="flex flex-row gap-3 items-center">
        <h2 class="text-3xl font-black text-primary">{title}</h2>
        {
          pinned && (
            <span>
              <Icon class="text-xl text-primary" name="solar:pin-bold" />
            </span>
          )
        }
      </span>
      <p class="text-sm mb-2">
        {
          new Date(date).toLocaleDateString("en", {
            day: "numeric",
            month: "long",
            year: "numeric",
          })
        }
      </p>
      <p>{spoiler}</p>
    </article>
  </a>
</div>
