---
import { Icon } from "astro-icon/components";
import wave from "/public/wave.svg?raw";
---

<Fragment set:html={wave} />
<div class="footer">
  <div class="icon-container">
    <a href="mailto:conlonj25@gmail.com">
      <Icon name="simple-icons:gmail" />
    </a>
    <a href="https://github.com/conlonj25">
      <Icon name="simple-icons:github" />
    </a>
    <a href="https://twitter.com/conlonj25">
      <Icon name="simple-icons:x" />
    </a>
    <a href="https://www.linkedin.com/in/conlonj5">
      <Icon name="simple-icons:linkedin" />
    </a>
  </div>
</div>

<style>
  a {
    color: var(--primary-foreground);
    text-decoration: none;
  }
  .footer {
    min-height: 5rem;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 1rem;
    color: white;
    font-size: 20px;
    background-color: var(--primary);
  }

  svg {
    width: 100%;
  }

  .icon-container {
    display: flex;
    gap: 1rem;
    max-height: 1em;
  }
</style>
