---
import { Icon } from "astro-icon/components";
---

<div class="footer">
  James Conlon

  <div class="" icon-container>
    <Icon name="simple-icons:gmail" />
    <Icon name="simple-icons:github" />
    <Icon name="simple-icons:x" />
    <Icon name="simple-icons:linkedin" />
  </div>
</div>

<style>
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .icon-container {
    display: flex;
    justify-content: space-around;
  }
</style>
