---

---

<div class="header" icon-container>
  <a href="/">Home</a>
  <div class="link-container">
    <a
      class={["blog", "posts"].includes(Astro.url.pathname.split("/")[1])
        ? "underline"
        : ""}
      href="/blog">blog</a
    >
  </div>
</div>

<style>
  .header {
    display: flex;
    justify-content: space-between;
  }

  .link-container {
    display: flex;
    justify-content: space-around;
  }

  .underline {
    text-decoration: underline;
  }
</style>
