---
import { Icon } from "astro-icon/components";
const currentPath = Astro.url.pathname;
---

<div class="flex flex-col gap-5 xl:flex-row xl:justify-between">
  {
    currentPath === "/" ? (
      <span class="text-4xl font-black">
        jamesconlon<span class="text-primary">.dev</span>
      </span>
    ) : (
      <a
        class="text-4xl font-black transition ease-in-out text-foreground hover:scale-[1.025] duration-300"
        href={currentPath === "/" ? "" : "/"}
      >
        jamesconlon<span class="text-primary">.dev</span>
      </a>
    )
  }

  <div class="flex flex-row items-center gap-4 text-xl font-black">
    <a
      class="transition ease-in-out text-foreground hover:scale-[1.2] duration-300 hover:text-primary"
      href="mailto:conlonj25@gmail.com"
    >
      <Icon name="simple-icons:gmail" />
    </a>
    <a
      class="transition ease-in-out text-foreground hover:scale-[1.2] duration-300 hover:text-primary"
      href="https://github.com/conlonj25"
    >
      <Icon name="simple-icons:github" />
    </a>
    <a
      class="transition ease-in-out text-foreground hover:scale-[1.2] duration-300 hover:text-primary"
      href="https://www.linkedin.com/in/conlonj5"
    >
      <Icon name="simple-icons:linkedin" />
    </a>
    <a
      class="transition ease-in-out text-foreground hover:scale-[1.2] duration-300 hover:text-primary"
      href="https://www.codewars.com/users/conlonj25"
    >
      <Icon name="simple-icons:codewars" />
    </a>
  </div>
</div>
