---

---

<div class="header" icon-container>
  <a href="">Jim.dev</a>
  <div class="link-container">
    <a href="">blog</a>
  </div>
</div>

<style>
  .header {
    display: flex;
    justify-content: space-between;
  }

  .link-container {
    display: flex;
    justify-content: space-around;
  }
</style>
