---
const pathRoot = Astro.url.pathname.split("/")[1];
---

<div class="header" icon-container>
  <a href="/">Home</a>
  <div class="link-container">
    <a
      class={["blog", "posts"].includes(pathRoot) ? "underline" : ""}
      href="/blog">Blog</a
    >
  </div>
</div>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .link-container {
    display: flex;
    justify-content: space-around;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: var(--primary);
  }

  .underline {
    text-decoration-line: underline;
    text-decoration-thickness: 0.25rem;
    text-decoration-color: var(--primary);
  }
</style>
