---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="jamesconlon.dev" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-js.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{"jamesconlon.dev"}</title>
  </head><body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --background: #424769;
    --foreground: #f2f2f2;
    --card: #2d3250;
    --card-foreground: #f2f2f2;
    --popover: #000e17;
    --popover-foreground: #f2f2f2;
    --primary: #f6b17a;
    --primary-foreground: #fffbf8;
    --secondary: #7077a1;
    --secondary-foreground: #f2f2f2;
    --muted: #2d3250;
    --muted-foreground: #a3a3a3;
    --accent: #2e4c26;
    --accent-foreground: #f2f2f2;
    --destructive: #9c4c26;
    --destructive-foreground: #f5d8f8;
    --border: #7077a1;
    --input: #7077a1;
    --ring: #f6b17a;
    --accent-gradient: linear-gradient(45deg, var(--primary), transparent 100%);
  }
  html {
    min-height: 100%;
    font-family: system-ui, sans-serif;
    background: var(--background);
  }
  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: var(--foreground);
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  h2 {
    text-align: center;
  }

  .route-accent {
    color: var(--primary);
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
