---
import Header from "../components/Header.astro";
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";

interface Props {
  title: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="jamesconlon.dev" />
    <meta name="keywords" content="Webdev, Typescript, NextJS, React, TRPC," />
    <meta name="author" content="James Conlon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-js.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{"jamesconlon.dev"}</title>
  </head>
  <body class="bg-background">
    <main
      class="mx-auto mb-16 flex min-h-screen w-full max-w-2xl flex-col gap-10 px-4 text-foreground"
    >
      <Header />
      <slot />
    </main>
    <Analytics />
  </body>
</html>
