---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div>
    <h2 class="text-3xl font-black text-primary mb-1">{frontmatter.title}</h2>
    <p class="text-sm">
      {
        new Date(frontmatter.date).toLocaleDateString("en", {
          day: "numeric",
          month: "long",
          year: "numeric",
        })
      }
    </p>
  </div>
  <div
    class="prose prose-markdown max-w-none prose-p:leading-7 prose-li:leading-7 prose-a:underline prose-a:underline-offset-4 prose-pre:rounded-xl prose-pre:border prose-pre:border-border prose-img:rounded-xl prose-img:mx-auto prose-code:before:hidden prose-code:after:hidden"
  >
    <slot />
  </div>
</BaseLayout>
