---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <h1><span class="route-accent">/</span>{frontmatter.title}</h1>
  <span class="date-container">{frontmatter.pubDate.toLocaleDateString()}</span>
  <slot />
</BaseLayout>

<style>
  .date-container {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
  }
</style>
