---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p class="date">{new Date(frontmatter.date).toLocaleDateString("en", {
    day: "numeric",
    month: "long",
    year: "numeric",
  })}</p>
  <slot />
</BaseLayout>

<style>
  .date {
    font-size: 1rem;
  }
</style>
